[submodule "libraries/libzip"]
	path = libraries/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "libraries/mbedtls"]
	path = libraries/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "libraries/libxml2"]
	path = libraries/libxml2
	url = https://github.com/GNOME/libxml2.git
